
/* --------------- H O M E P A G E --------------- */
body{
    background-color: #d33a2c;
    margin: 0;
}

header{
    background-color: #d33a2c;
    padding-top: 1em;
}

.headerLogo{
    width: 6em;
    height: 6em;
}

h1 span{
    background-color: #ffffff;
    padding: 0.2em;
    font-family: Calibri;
}

h1{
    text-align: center;
    color: #333333;
    letter-spacing: -0.05em;
    word-spacing: 0.2em;
}

/* ----------M A I N---------- */

main article:nth-child(odd){
    background-color: #bc3428;

}

main article{
    font-family: Calibri;
    letter-spacing: -0.05em;
    font-size: 1.2em;
    color: #ffffff;
    padding: 3em 1.5em 3em 1.5em;
    display: flex;
    flex-direction: column;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);  
}

main article p{
    display:flex;
}

main article p a{
    margin-right: 0.5em;
}

main article img{
    width: 4em;
    height: 4em;
    border: 0.35em solid #ffffff;
    border-radius: 10px;
    margin-right: 0.5em;
}

main article a{
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
}

main article ul a{
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bold;
    color: #ffffff;
}

main article ul li:nth-child(2){
    margin-left: 1em;
}

main article ul{
    list-style: none;
    display: flex;
    padding: 0;
}

main article .arrowNext{
    display: inline-block;
    fill: #ffffff;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 1.3em;
    border: none;
}



/* ----------M E M B E R S H I P---------- */

#Membership {
    color: #ffffff;
    /* background-color: #282634; */
    background-image: linear-gradient(rgb(40, 38, 52), rgb(18, 52, 86));
    padding: 2em;
    display:flex;
    flex-direction:column;
    align-items: center;
}

#Membership p {
    font-size: 1.2em;
    line-height: 1.4em;
    padding: 0;
    margin: 0;
    text-align: left;
}

#Membership li{
    font-size: 1.2em;
    text-align: left;
    padding-bottom: 0.5em;
}

#Membership ul{
    align-self: left;
    padding-left: 1.5em;

}

#Membership img{
    width: 20em;
    height: 20em;
    padding-bottom: 2em;
}

#Membership a{
    background-color: #41b14f;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 0.6em 0.5em;
    font-size: 1.3em;
    border-radius: 10px;
    font-family: Calibri;
    align-self: left;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

/* ----------L A T E S T---------- */

#Latest {
    background-color: #eeeeee;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
}

#Latest article p{
    line-height: 1.5em;
    color: #333333;
}

#Latest h2{
    font-family: Calibri;
    text-decoration: underline;
    color: #000000;
}

#Latest article {
    padding: 3em 1.5em 5em 1.5em;
}

#Latest article:hover{
background-color: white;
box-shadow: 0 0 0.8em #a7a7a7;
}

#Latest article:hover h2{
    color: #bc3428;
}

#Latest article:hover .arrowLatest{
    background-color: #006fc6;
    color: #ffffff;
}

#Latest a{
    text-decoration: none;
    color: #000000;
}

#Latest .arrowLatest{
    font-family: Calibri;
    padding: 1em;
    display: inline-block;
    text-decoration: none;
    color: #d33a2c;
    font-weight: bolder;
    font-size: 1.3em;
}


/* ----------F E A T U R E S---------- */

#Features{
    background-color: #d33a2c;
    color: #ffffff;
    text-align: center;
    margin: auto .25em;
    border-radius: 10px;
    padding: 3em 2em 2em;
}

#Features img{
    width: 14em;
    height: 14em;
    margin-bottom: 2em;
}

#Features a{
    text-decoration-color: #ffffff;
    text-decoration: underline;
    color: #ffffff;
}

#Features p{
    margin-bottom: 2em;
    font-size: 1.1em;
    font-weight: 0.5em;
    line-height: 1.3em;
    word-spacing: 0.3em;
    margin: 2em 1.8em;
}

#Features footer p{
    font-size: .8em;
}
#Features footer{
    margin-top: 2em;
}

#Features #ExploreButton{
    font-family: Calibri;
    font-weight: bold;
    font-size: 1.15em;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.5em 1em;
    color: #267dcc;
}

#Features h2{
    font-size: 1.90em;
    margin: auto 2em;
    text-decoration-color: #ffffff;
    color: #ffffff;
}


/* ----------S U B S C R I B E---------- */

#Subscription{
    background-color: #d33a2c;
    margin: 2em 2em;
    border-radius: 10px;
    padding: 2em 1em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#Subscription p{
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

#Subscription h2 a{
color:white;
font-size: 1.4em;
text-decoration: underline;
letter-spacing: -0.05em;
text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

#Subscription fieldset{
    border: none;
}

#Subscription img{
    width: 20em;
    height: 20em;
}

#Subscription input{
    height: 3.5em;
    width: 15em;
    border-radius: 1em;
    display: block;
    border: none;
    margin: 1em 0;
    color: #000000;
}

::-webkit-input-placeholder { /*BRON https://www.w3schools.com/cssref/sel_placeholder.asp*/
    color: #000000;
  }

#Subscription button{ 
    font-weight: bold;
    font-family: Calibri;
    color: #ffffff;
    width: 15em;
    height: 3.5em;
    border-radius: 1em;
    border: solid;
    border-color: white;
    background-color: #d33a2c;
}

/* ----------B R E A K P O I N T 1---------- */
@media (min-width:40em) {

}

/* ----------B R E A K P O I N T 2---------- */
@media (min-width: 75em) {
}

/* --------------- D E T A I L W R I T E R --------------- */

#detailWriter{
    background-color: #ffffff;
    margin: 0;
}

#detailWriter #authorInfo img {
    width: 5em;
    height: 5em;
    border: 0.35em solid #ffffff;
    border-radius: 10px;
    margin-right: 0.5em;
}

#detailWriter header{
    background-color: #d33a2c;
    padding-top: 1em;
}

#detailWriter .headerLogo{
    width: 6em;
    height: 6em;
}

#detailWriter #authorInfo{
    display:flex;
    flex-direction: column;
    padding: 1em 1em;
}

#detailWriter #authorInfo p{
    color: #ffffff;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.5em;
}

#detailWriter #authorInfo h1{
    color: #ffffff;
    font-family: Calibri;
    text-align: left;
    font-size: 2.4em;
    margin-top: 0;
    margin-bottom: 0;
}

#detailWriter #authorInfo span{
    color: #ffffff;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 0.2em;
    margin-top: 0.8em;
}

#detailWriter #authorInfo footer span{
    color: #000000;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    font-weight: 600;
}

#detailWriter #authorInfo ul{
    display: flex;
    font-size: 1.05em;
    font-family: Calibri;
    font-weight: 600;
}

#detailWriter #authorInfo li{
    color: #ffffff;
    text-decoration: underline;
}

#detailWriter #authorInfo ul li:hover{
    color: #000000;
    text-decoration-color: #000000;
}

#detailWriter #authorInfo ul li:nth-child(2){
    margin-left: 2em;
}
/* --------------- D E T A I L P A G E --------------- */

#detailPage{
    background-color: #ffffff;
    margin-top: 0;
}

#detailPage header{
    padding-top: 1em;
}

#detailPage img{
    width: 9em;
    height: 9em;
    border: 0.35em solid #d33a2c;
    border-radius: 10px;
}

#detailPage main{
    padding-top: 2em;
}

