body{
    background-color: #d33a2c;
}

header{
    background-color: #d33a2c;
}

.headerLogo{
    width: 6em;
    height: 6em;
}

h1{
    background-color: #ffffff;
    text-align: center;
    display: inline;
    font-family: Calibri;
}

/* ----------M A I N---------- */

main article:nth-child(odd){
    background-color: #bc3428;

}

main article{
    font-family: Calibri;
    color: #ffffff;
    
}

main article img{
    width: 5em;
    height: 5em;
    border: 0.35em solid #ffffff;
    border-radius: 10px;
}

/* ----------M E M B E R S H I P---------- */

#Membership {
    color: #ffffff;
    background-color: #282634;
    padding: 2em;
    font-family: Calibri;
}

#Membership img{
    width: 10em;
    height: 10em;
}

#Membership a{
    background-color: #41b14f;
    padding: 0.5em;
    font-size: 1.5em;
}

/* ----------L A T E S T---------- */

#Latest {
    background-color: #ffffff;
}
