/* Ik heb nauwelijks code gecopy paste van websites. Alleen uitleg dingen opgezocht en deze toegepast

ik heb paar websites gebruikt die ik als bron zal vermelden

https://css-tricks.com/snippets/css/complete-guide-grid/
https://css-tricks.com/snippets/css/a-guide-to-flexbox/
https://gridbyexample.com/examples/
https://stackoverflow.com/questions/57222615/css-display-as-inline-block-background-color-property-doesnt-cover-the-content
https://www.w3schools.com/howto/howto_css_responsive_form.asp
https://codepen.io/joostf/pen/MOxQex
https://codepen.io/joostf/pen/YpEVyK

JOOST FABER
SANNE'T HOOFT
DAVID DE VRIES
LAURA (ook docent)


Meeste dingen heb ik gewoon van standaard websites door te googlen hoe een bepaalde CSS properties werken.
Als ik echt veel hulp heb gekregen dan is dat bij de code vermeld

*/

/* --------------- H O M E P A G E --------------- */
body {
    background-color: #d33a2c;
    margin: 0;
}

h1 span {
    background-color: #ffffff;
    padding: 0.2em;
    font-family: Calibri;
}

h1 {
    text-align: center;
    color: #333333;
    letter-spacing: -0.05em;
    word-spacing: 0.2em;
}

/* ----------H E A D E R---------- */

header {
    background-color: #d33a2c;
    padding-top: 1em;
}

.headerLogo {

    width: 4em;
    height: 4em;
}

header button {
    background-color: #d33a2c;
    border-style: solid;
    border-radius: 6px;
    border-color: white;
    border-width: 0.2em;
    width: 4em;
    height: 2em;
    color: white;
    font-family: Calibri;
    font-weight: 900;
    font-size: 1.2em;
    margin-right: 1em;
    float: right;
}

/* SANNE'T HOOFT!!! heeft geholpen met de animatie en het verstoppen van content.
Overflow:hidden samen met 'max-height: 0em' zorgt er voor dat alle content 
verborgen wordt. Ook is er wat van Ceaser CSS Easing animation
https://matthewlein.com/tools/ceaser*/

header nav {
    padding: 1em 0;
    max-height: 0em;
    transform: scaleY(0);
    overflow: hidden;
    transition: max-height .8s, transform .8s cubic-bezier(0.535, 0.005, 0.520, 1.650);
}

/* Javascript zelf gedaan en aangepast, met hulp van David */
nav.showMe {
    max-height: 20em;
    transform: scaleY(1);
}

/* MENU*/
header ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 3em;
    font-family: Calibri;
    font-weight: 900;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

header li {
    font-size: 1.3em;
    flex-grow: 1;
}

header li a:hover {
    color: black;
}

header li a {
    display: block;
    line-height: 2.75em;
    padding: 0 1em;
    text-decoration: none;
    text-align: center;
    color: white;
}

/* zoekveld */
header form {
    text-align: center;
}

header form input {
    border-radius: 8px;
    border-style: none;
    width: 95%;
    height: 4.5em;
    padding: 0 1em;
}


@media (min-width:35em) {
    header li {
        flex-grow: 0;
    }
}

/* ----------M A I N---------- */

#indexMain article:nth-child(odd) {
    background-color: #bc3428;
}

#indexMain article {
    font-family: Calibri;
    letter-spacing: -0.05em;
    font-size: 1.2em;
    color: #ffffff;
    padding: 3em 1.5em 3em 1.5em;
    display: flex;
    flex-direction: column;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

#indexMain article p {
    display: flex;
}

#indexMain article p a {
    margin-right: 0.5em;
}

#indexMain article img {
    width: 4em;
    height: 4em;
    border: 0.35em solid #ffffff;
    border-radius: 10px;
    margin-right: 0.5em;
}

#indexMain article a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #ffffff;
}

#indexMain article ul a {
    text-decoration: none;
    font-size: 0.8em;
    font-weight: bold;
    color: #ffffff;
}

#indexMain article ul li:nth-child(2) {
    margin-left: 1em;
}

#indexMain article ul {
    list-style: none;
    display: flex;
    padding: 0;
}

#indexMain article .arrowNext {
    display: inline-block;
    fill: #ffffff;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    font-size: 1.3em;
    border: none;
}

/* ----------M E M B E R S H I P---------- */

#Membership {
    color: #ffffff;
    background-image: linear-gradient(rgb(40, 38, 52), rgb(18, 52, 86));
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Membership p {
    font-size: 1.2em;
    line-height: 1.4em;
    padding: 0;
    margin: 0;
    text-align: left;
}

#Membership li {
    font-size: 1.2em;
    text-align: left;
    padding-bottom: 0.5em;
}

#Membership ul {
    align-self: left;
    padding-left: 1.5em;

}

#Membership img {
    width: 20em;
    height: 20em;
    padding-bottom: 2em;
}

#Membership a {
    background-color: #41b14f;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 0.6em 0.5em;
    font-size: 1.3em;
    border-radius: 10px;
    font-family: Calibri;
    align-self: left;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

/* ----------L A T E S T---------- */

#Latest {
    background-color: #eeeeee;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
}

#Latest article p {
    line-height: 1.5em;
    color: #333333;
}

#Latest h2 {
    font-family: Calibri;
    text-decoration: underline;
    color: #000000;
}

#Latest article {
    padding: 3em 1.5em 5em 1.5em;
}

#Latest article:hover {
    background-color: white;
    box-shadow: 0 0 0.8em #a7a7a7;
}

#Latest article:hover h2 {
    color: #bc3428;
}

#Latest article:hover .arrowLatest {
    background-color: #006fc6;
    color: #ffffff;
}

#Latest a {
    text-decoration: none;
    color: #000000;
}

#Latest .arrowLatest {
    font-family: Calibri;
    padding: 1em;
    display: inline-block;
    text-decoration: none;
    color: #d33a2c;
    font-weight: bolder;
    font-size: 1.3em;
}


/* ----------F E A T U R E S---------- */

#Features {
    background-color: #d33a2c;
    color: #ffffff;
    text-align: center;
    margin: auto .25em;
    border-radius: 10px;
    padding: 3em 2em 2em;
}

#Features img {
    width: 14em;
    height: 14em;
    margin-bottom: 2em;
}

#Features a {
    text-decoration-color: #ffffff;
    text-decoration: underline;
    color: #ffffff;
}

#Features p {
    margin-bottom: 2em;
    font-size: 1.1em;
    font-weight: 0.5em;
    line-height: 1.3em;
    word-spacing: 0.3em;
    margin: 2em 1.8em;
}

#Features footer p {
    font-size: .8em;
}

#Features footer {
    margin-top: 2em;
}

#Features #ExploreButton {
    font-family: Calibri;
    font-weight: bold;
    font-size: 1.15em;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.5em 1em;
    color: #267dcc;
}

#Features h2 {
    font-size: 1.90em;
    margin: auto 2em;
    text-decoration-color: #ffffff;
    color: #ffffff;
}


/* ----------S U B S C R I B E---------- */

#Subscription {
    background-color: #d33a2c;
    margin: 2em 2em;
    border-radius: 10px;
    padding: 2em 1em;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#Subscription p {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

#Subscription h2 a {
    color: white;
    font-size: 1.4em;
    text-decoration: underline;
    letter-spacing: -0.05em;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
}

#Subscription fieldset {
    border: none;
}

#Subscription img {
    width: 20em;
    height: 20em;
}

#Subscription input {
    height: 3.5em;
    width: 15em;
    border-radius: 1em;
    display: block;
    border: none;
    margin: 1em 0;
    padding-left: 1em;
    border-color: #999999;
}

#Subscription input:invalid {
    background-color: rgb(255, 197, 197);
}

#Subscription input:valid {
    background-color: rgb(221, 255, 221);
}

#Subscription input:invalid {
    border-color: salmon;
    border-width: 2em;
}

#Subscription button {
    font-weight: bold;
    font-family: Calibri;
    color: #ffffff;
    width: 15em;
    height: 3.5em;
    border-radius: 1em;
    border: solid;
    border-color: white;
    background-color: #d33a2c;
}

/* ----------B R E A K P O I N T 1---------- */
/* ----------H O M E P A G E---------- */

@media (min-width:40em) {
    body {
        max-width: 100vw;

    }

    #indexMain {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #indexMain article:nth-child(odd) {
        /*reset van kleur voor de mediaquery, kon het niet anders oplossen*/
        background-color: #d33a2c;
    }

    #indexMain article:nth-child(1) {
        background-color: #bc3428;
    }

    #indexMain article:nth-child(4) {
        background-color: #bc3428;
    }

    /*https://css-tricks.com/snippets/css/complete-guide-grid/*/
    #Latest {
        display: grid;
        grid-column: 1/3;
        grid-template-columns: repeat(2, 1fr);
    }

    #Features {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    #Subscription {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
    }
}

/* ----------B R E A K P O I N T 2---------- */
/* ----------H O M E P A G E---------- */
@media (min-width: 75em) {

    body {
        max-width: 100vw;
    }

    #Latest {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #Features {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    #Subscription {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }
}

/* --------------- D E T A I L P A G E --------------- */

#detailWriter {
    background-color: #ffffff;
    margin: 0;
}

#detailWriter #authorInfo img {
    width: 5em;
    height: 5em;
    border: 0.35em solid #ffffff;
    border-radius: 10px;
    margin-right: 0.5em;
}

#detailWriter #authorInfo {
    display: flex;
    flex-direction: column;
    background-color: #d33a2c;
    padding: 1em 1em;
}

#detailWriter #authorInfo p {
    color: #ffffff;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.5em;
}

#detailWriter #authorInfo h1 {
    color: #ffffff;
    font-family: Calibri;
    text-align: left;
    font-size: 2.4em;
    margin-top: 0;
    margin-bottom: 0;
}

#detailWriter #authorInfo span {
    color: #ffffff;
    font-variant: small-caps;
    text-transform: lowercase;
    letter-spacing: 0.2em;
    margin-top: 0.8em;
}

#detailWriter #authorInfo footer span {
    color: #000000;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    font-weight: 600;
}

#detailWriter #authorInfo ul {
    display: flex;
    font-size: 1.05em;
    font-family: Calibri;
    font-weight: 600;
}

#detailWriter #authorInfo li {
    color: #ffffff;
    text-decoration: underline;
}

#detailWriter #authorInfo ul li:hover {
    color: #000000;
    text-decoration-color: #000000;
}

#detailWriter #authorInfo ul li:nth-child(2) {
    margin-left: 2em;
}

/* ----------D E T A I L P A G E - A R T I C L E S---------- */

#detailWriter main article {
    font-family: Calibri;
    letter-spacing: -0.05em;
    background-color: #ffffff;
    font-size: 1.2em;
    color: #333333;
    padding: 3em 1.5em 3em 1.5em;
    display: flex;
    flex-direction: column;
}

#detailWriter main article .nameLink {
    text-decoration: underline;
    font-size: 1em;
    font-weight: bold;
    margin-right: 0.2em;
    color: #666666;
}

#detailWriter main article h2:hover {
    color: #d33a2c;
}

#detailWriter main article a {
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: #666666;
    margin: 0;
}

#detailWriter main article ul {
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

#detailWriter main article ul li:nth-child(1) {
    text-decoration: none;
    font-size: 0.8em;
    list-style-type: none;
    color: #666666;
    margin-right: 2em;
}

#detailWriter main article ul li:nth-child(2) {
    text-decoration: underline;
    list-style-type: none;
    font-size: 0.8em;
    color: #666666;
    margin: 0;
}

#detailWriter main article img {
    width: 3em;
    height: 3em;
    border: 0.35em solid #d33a2c;
    border-radius: 10px;
    margin-right: 0.5em;
}

#detailWriter main article .readMore {
    color: #006fc6;
    text-decoration: underline;
}

#detailWriter article p {
    display: flex;
}

#detailWriter article .storyContent {
    font-family: none;
    line-height: 1.3em;
    word-spacing: 0.1em;
    letter-spacing: 0.02em;
    font-size: 0.95em;
    color: #333333;
}


@media (min-width: 40em) {
    #detailWriter #authorInfo {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    #detailWriter main section footer {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    /* ik kon helaas niet de view goed aanpassen 
    voor 75em. Ik probeerde 3 grids met padding 
    maar padding negeert de main door de grid geloof ik
    ik wilde het meer gecentreerd hebben. */
}