body{
    background-color: #d33a2c;
    margin: 0;
    margin-top: 1em;
}

header{
    background-color: #d33a2c;
}

.headerLogo{
    width: 6em;
    height: 6em;
}

h1{
    background-color: #ffffff;
    text-align: center;
    display: inline;
    font-family: Calibri;
}

/* ----------M A I N---------- */

main article:nth-child(odd){
    background-color: #bc3428;

}

main article{
    font-family: Calibri;
    color: #ffffff;
    padding: 3em 1.5em 3em 1.5em;
    display: flex;
    flex-direction: column;
}

main article img{
    width: 5em;
    height: 5em;
    border: 0.35em solid #ffffff;
    border-radius: 10px;
}


/* ----------M E M B E R S H I P---------- */

#Membership {
    color: #ffffff;
    background-color: #282634;
    padding: 2em;
    font-family: Calibri;

}

#Membership img{
    width: 10em;
    height: 10em;
}

#Membership a{
    background-color: #41b14f;
    padding: 0.5em;
    font-size: 1.5em;
}

/* ----------L A T E S T---------- */

#Latest {
    background-color: #eeeeee;
    padding-top: 3em;
    display: flex;
    flex-direction: column;
}

#Latest h2{
    font-family: Calibri;
    text-decoration: underline;
    color: #000000;
}

#Latest article {
    padding: 3em 1.5em 5em 1.5em;
}

#Latest article:hover{
background-color: white;
box-shadow: 0 0 0.8em #a7a7a7;
}

#Latest article:hover h2{
    color: #bc3428;
}

#Latest a{
    text-decoration: none;
    color: #000000;
}

/* ----------F E A T U R E S---------- */

#Features{
    background-color: #d33a2c;
    color: #ffffff;
    text-align: center;
    margin: auto .25em;
    border-radius: 10px;
    padding: 3em 2em 2em;
}

#Features img{
    width: 14em;
    height: 14em;
    margin-bottom: 2em;
}

#Features a{
    text-decoration-color: #ffffff;
    text-decoration: underline;
    color: #ffffff;
}

#Features p{
    margin-bottom: 2em;
    font-size: 1.1em;
    font-weight: 0.5em;
    line-height: 1.3em;
    word-spacing: 0.3em;
    margin: 2em 1.8em;
}

#Features footer p{
    font-size: .8em;
}
#Features footer{
    margin-top: 2em;
}

#Features #ExploreButton{
    font-family: Calibri;
    font-weight: bold;
    font-size: 1.15em;
    text-decoration: none;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 0.5em 1em;
    color: #267dcc;
}

#Features h2{
    font-size: 1.90em;
    margin: auto 2em;
    text-decoration-color: #ffffff;
    color: #ffffff;
}

/* ----------S U B S C R I B E---------- */

#Subscription{
    background-color: #d33a2c;
    margin: auto 2em;
    border-radius: 10px;
    padding: 3em 1em;
}

#Subscription fieldset {
    border: none;
}

#Subscription input {
    width: 10em;
    height: 3.5em;
    border-radius: 1em;
    border: none;
}

#Subscription button { 
    width: 10em;
    height: 3.5em;
    border-radius: 1em;
    border: solid;
    border-color: white;
    background-color: #d33a2c;
}