body{
    background-color: #d33a2c;
}

header{
    background-color: #d33a2c;
}

.headerLogo{
    width: 6em;
    height: 6em;
}

h1{
    background-color: #ffffff;
    text-align: center;
    display: inline;
    font-family: Calibri;
}

main article{
    font-family: Calibri;
    
}

main article{
    font-family: Calibri;
    color: #ffffff;
    
}

main article img{
    width: 5em;
    height: 5em;
    border: 0.2em solid #ffffff;
    border-radius: 10px;
}